html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; /* Ocupa o espaço disponível */
  }
  
  footer {
  width: 100%; /* Full width footer */
  background-color: #000;
  color: #fff;
  padding: 2rem;
}